body {
    font-family: fantasy;
    /* background-image: url(https://static.wixstatic.com/media/3f3c59_2c2197193f56407cbef9ef823a974a2b~mv2.jpg/v1/fill/w_980,h_653,al_c,q_85,usm_0.66_1.00_0.01/3f3c59_2c2197193f56407cbef9ef823a974a2b~mv2.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}
/* .main{
    background-color: red !important;
} */

.navbar {
    background-color: papayawhip;
    box-shadow: 6px 10px 12px rgba(0, 0, 0, 0.25);

}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.profile {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: papayawhip;
    padding: 5%;
}

.p {
    font-size: larger;
}

.mypic {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
}

.mypic2 {
    width: 100%;
    max-width: 500px;
    border-radius: 20%;
}

.aboutme {
    text-align: center;
    border: 5px solid papayawhip;
    padding: 10%;
    box-shadow: 6px 9px 7px rgba(0, 0, 0, 0.25);
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 10%;
}

a {
    text-decoration: none;


}

.projectGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.button {
    padding: 3%;
    background-color: papayawhip;
    width: 50%;
    color: rgb(1, 83, 66);
    box-shadow: 6px 10px 12px rgba(0, 0, 0, 0.25);

}

@media only screen and (min-width: 500px) {
    .aboutme {
        width: 400px;

    }

    .projectGroup {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }



}

@media only screen and (min-width: 800px) {
    .aboutme {
        padding: 3%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        font-size: larger;
    }

    .aboutme aside p {
        margin-left: 6rem;
    }

    .projectGroup {
        flex-direction: row;

    }



}
